name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - "1.23"
          - "1.24"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get purge -y \
            libunwind-14-dev  
          sudo apt-get install \
            gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-bad \
            libglib2.0-dev \
            libgstreamer-plugins-base1.0-dev \
            libgstreamer1.0-dev
      - name: Install
        run: go get -t ./...
      - name: Build
        run: go build ./...
      - name: Test
        run: |
          go test ./... -v -race
          go vet ./...
